@{
    ViewData["Title"] = "Política Privacidad";
    ViewData["Name"] = "CasaGaming";

}

<title>@ViewData["Title"]</title>

<h1 class="mt-4 text-center">@ViewData["Title"]</h1>

La visita a este sitio Web no implica que el usuario esté obligado a facilitar ninguna información. 
En el caso de que el usuario facilite alguna información de carácter personal, los datos recogidos 
en este sitio web serán tratados de forma leal y lícita con sujeción en todo momento a los principios 
y derechos recogidos en el Reglamento (UE) 2016/679, de 27 de abril, General de Protección de Datos (RGPD) 
y demás normativa aplicable.
<br />
En cumplimiento de lo dispuesto en el artículo 13 del RGPD te informamos de lo siguiente:

<br /><br />
<h2> Responsable </h2>
@ViewData["Name"] & Multimedia S.L.U. (en adelante, @ViewData["Name"])
<br />
Avda. Europa, Parcelas 2-5 y 2-6 Polígono Industrial Las Salinas, 30840 Alhama de Murcia,
<br />
Teléfono de contacto: 868268070
<br /><br />
<h2>¿Qué hacemos con tus datos?</h2>
- Apartado "Nuevo Cliente"
La principal finalidad de dicho tratamiento es la gestión de los usuarios registrados en nuestra web, 
así como el envío de publicidad relativa a los productos y servicios comercializados por @ViewData["Name"] o
para el envío de publicidad, descuentos y promociones de productos y servicios de otras entidades.
@ViewData["Name"] asegura la confidencialidad de los datos aportados y garantiza que, en ningún caso, serán
cedidos para ningún otro uso sin mediar consentimiento previo y expreso de nuestros usuarios. 
Sólo le pediremos aquellos datos necesarios para la prestación del servicio requerido y únicamente serán 
empleados para este fin.
<br /><br />
- Apartado "Realizar Compra"
Al igual que indicamos en nuestra política de privacidad, la principal finalidad del tratamiento de los 
datos es mantener la relación contractual con nuestros clientes, facilitar la tramitación de los pedidos, 
la realización de estudios estadísticos, envío de publicidad relativa a los productos y servicios 
comercializados por @ViewData["Name"] o para el envío de publicidad, descuentos y promociones de productos
y servicios de otras entidades, y además para el estudio de financiación de compras y obtención de 
créditos al consumo, así como para el descubrimiento y prevención del fraude, y minimización del riesgo 
de su comisión, en base al interés legítimo reconocido por la normativa vigente.
<br /><br />
- Apartado "Boletín ofertas" y "Ofertas Express"
El e-mail facilitado será objeto de tratamiento por parte de @ViewData["Name"] con la finalidad de enviar 
el boletín de ofertas. Este Boletín tiene carácter exclusivamente informativo.
<br /><br />
- Acciones de Marketing.
@ViewData["Name"] podrá utilizar dichos datos para informar sobre futuras promociones, ofertas y otras 
acciones comerciales en los casos en los que Vd. sea ya cliente o si no lo es, cuando Vd. nos haya 
proporcionado su consentimiento en el correspondiente apartado.

 <br /><br />
<h2>Base jurídica de los tratamientos</h2>
Para el registro, compra y la gestión de las garantías basaremos el tratamiento de los datos en la ejecución 
del contrato de compra o en el marco de la relación precontractual.
<br />
Para el envío de información comercial basaremos el tratamiento en su consentimiento aunque si Vd. ya es 
cliente podremos enviarle información sobre productos similares proporcionándole siempre un medio sencillo 
y gratuito para darse de baja.
<br />
El consentimiento aquí prestado por el Titular para comunicación de datos a terceros tiene carácter 
revocable en todo momento, sin efectos retroactivos.
<br /><br />
<h2>Derechos de los interesados</h2>
El interesado tiene los siguientes derechos:

Podrá solicitar información sobre los datos de carácter personal almacenados que le conciernan (acceso)
Podrá solicitar que se corrija la inexactitud de sus datos personales. (rectificación)
Podrá solicitar la eliminación o limitación del tratamiento de sus datos personales y (supresión y limitación).
<br />
También podrá solicitar que se le pongan a disposición sus datos personales en un formato estructurado, 
corriente y de lectura mecánica.(portabilidad).
<br />
El interesado también tiene derecho a presentar una reclamación ante las autoridades de protección de 
datos (Agencia Española de Protección de Datos).
<br />No obstante, cualquier cuestión relacionada con los 
datos le invitamos a contactar con nosotros para solucionarla.
<br /><br />
<h2>Calidad de los datos</h2>
Los usuarios deberán garantizar la veracidad, exactitud, autenticidad y vigencia de los datos de carácter personal que les hayan sido recogidos.
<br /><br />
<h2>Protección de los menores</h2>
No recogemos datos personales de menores. Es responsabilidad del padre/madre/tutor legal velar por para la privacidad de los menores, 
haciendo todo lo posible para asegurar que han autorizado la recogida y el uso de los datos personales del menor.