@model IEnumerable<Shopping.Data.Entities.User>

@{
    ViewData["Title"] = "Usuarios";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<flash dismissable="true" />

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <!-- Header -->
            <div class="header">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Pretitle -->
                            <h5 class="header-pretitle">Descripción general</h5>
                            <h1 class="header-title text-truncate">Usuarios</h1>
                        </div>
                        <div class="col-auto">
                            <!-- Navigation (button group) -->
                            <div class="nav btn-group d-inline-flex">
                                <a asp-action="Create" class="btn btn-primary">Nuevo administrador</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabla contenido -->
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover table-hover table-nowrap card-table" id="MyTable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Document)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.City.State.Country.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.City.State.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.City.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PhoneNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UserType)
                                        </th>
                                        <th>
                                            Habilitado
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ImageFullPath)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="list fs-base">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Document)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>                                          
                                            <td>
                                                @Html.DisplayFor(modelItem => item.City.State.Country.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.City.State.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.City.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EmailConfirmed)
                                            </td>
                                            <td>
                                                <img src="@item.ImageFullPath" style="width:100px; height:100px; border-radius:50px" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [1, 50, 100, 200, -1],
                    [1, 50, 100, 200, "Todos"]
                ]
            });
        });
    </script>
}
